:root {
    --main-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --main-light-color: #fff;
    --main-dark-color: #303030;
    --text-color: #555555;
    --text-color-dark-bg: #a4d0ff;
    --second-text-color: rgba(189, 202, 251, 0.6);
    --accent-color: rgba(255, 108, 0, 1);
}